$topbarLeftBgColor:#2c3e50;
$topbarRightBgColor:#4ca1af;
$topbarLeftTextColor:#ffffff;
$topbarRightTextColor:#ffffff;
$topbarBorderBottomColor:transparent;
$primaryColor:#2c3e50;
$primaryTextColor:#ffffff;
$accentColor:#36ae2c;
$darkMenuBgColor:#1a2530;
$darkMenuTextColor:#ffffff;
$bodyBgColor:#F2F8FA;
 
@import '../../sass/layout/_layout';