$topbarLeftBgColor:#e96443;
$topbarRightBgColor:#904e95;
$topbarLeftTextColor:#ffffff;
$topbarRightTextColor:#ffffff;
$topbarBorderBottomColor:transparent;
$primaryColor:#e96443;
$primaryTextColor:#ffffff;
$accentColor:#36ae2c;
$darkMenuBgColor:#170a06;
$darkMenuTextColor:#ffffff;
$bodyBgColor:#F2F8FA;
 
@import '../../sass/layout/_layout';